<div class="row">
    <h1>Proyecto realizado</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio</h2>
            <p>El presente portfolio es el resultado del proyecto integrador de Argentina Programa. Es el trabajo final de mi diseño web para ser mostrado en el medio en el que pretendo desarrollarme. </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/arg-programa.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
