<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto perfil.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p> Me llamo Verónica y hacen 16 años trabajo como Profesora de Educación Inicial. Desde un tiempo a esta parte y buscando implementar el uso de la tecnología en la docencia, me he visto encantada por la evolución de la tecnología digital. Por lo dicho estoy en proceso de transición profesional. Con disponibilidad a nuevos proyectos relacionado al desarrollo informático.</p>
        </span>
    </div>
</div>

